*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header{
    padding: 15px 0px;
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*utility*/

.border-black{
  border: solid 2px black;
}

.bg-yellow{
background-color: yellow;
}

.bg-pink2{
  background-color: rgb(185, 99, 113);
}

.bg-violet{
  background-color: blueviolet;
}

.bg-blue{
  background-color: blue;
}

.bg-white{
  background-color: rgb(245, 15, 15);
}

.bg-pink{
  background-color: pink;
}

.bg-grey{
  background-color: rgb(183, 183, 183);
}

.padding10 {
  padding: 10px 50px;
}

.col25{
  width: 25%;
}

.col40{
  width: 40%;
}

.col50{
  width: 50%;
}

.col60{
  width: 60%;
}

.col100{
  width: 100%;
}

.py20{
  padding: 20px 0;
}

.container{
  max-width: 1000px;
  min-height: 350px;
  margin: 0 auto;
  display: flex;
  padding: 20px 0;
}

.container-sm{
 width: 500px;
 min-height: 250px;
 justify-self: center;
 align-self: center;
}

.container-wide{
  max-width: 100%;
}